.LoaderTitle {
    display: inline;
}

.AccordionHeaderLoading {
    display: inline-flex;
    align-items: center;
}

input.NumberInput::-webkit-outer-spin-button,
input.NumberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.NumberInput[type=number] {
    -moz-appearance: textfield;
}

:global(#results-viewer-table [role="gridcell"]) {
    align-items: flex-start;
}
