{
  "extends": ["@folio/eslint-config-stripes/acquisitions"],
  "parser": "@babel/eslint-parser",
  "overrides": [
    {
      "files": [ "src/**/tests/*", "test/**/*" ]
    }
  ],
  "rules": {
    "react-hooks/exhaustive-deps": 0,
    "eol-last": 0
  }
}
