.NestedTable {
    width: calc(100% + calc (2 * var(--gutter-static-two-thirds)));
    margin: calc(-1 * var(--gutter-static-one-third)) calc(-1 * var(--gutter-static-two-thirds));
    border-collapse: collapse;
    flex-grow: 1;
}

.NestedTable th {
    white-space: nowrap;
    background-color: #ccc;
}

.NestedTable th, .NestedTable td {
    border: 1px solid var(--color-border-p2);
    padding: var(--gutter-static-one-third) var(--gutter-static-two-thirds);
    vertical-align: top;
}

.NestedTable th:first-of-type, .NestedTable td:first-of-type {
    border-left: none;
}

.NestedTable th:last-of-type, .NestedTable td:last-of-type {
    border-right: none;
}
