.ResultViewerAccordionHeader {
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
  width: 100%;
  /* 3.5 is a bit arbitrary, but covers the chevron and scrollbar in my testing. */
  /* it's not really possible to get the true width due to how nested this element is :( */
  max-width: calc(100vw - 3.5em);
}

.ResultViewerAccordionHeader .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ResultViewerAccordionHeader .showButton {
  align-self: start;
}
