.ResultViewerAccordionHeader {
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
  width: 100%;

  [dir='rtl'] & {
    /* [show more/less] ...query string [chevron] */
    flex-direction: row-reverse;
  }

  &.truncate {
    --truncate-to: 100%; /* will be overridden by JS */
    max-width: var(--truncate-to);

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & .showMoreLessButton {
    align-self: start; /* anchor vertically to top of header */
    font-size: 1rem;
  }
}

.ResultViewerRowWrapper {
  flex-grow: 1;
  min-height: 200px;
}

.DropdownStickyHeader {
    position: sticky;
    top: 0;
    z-index: 2;
}

.DropdownStickyHeader:before {
    content: "";
    position: absolute;
    left: -15px;
    top: -5px;
    height: 34px;
    width: calc(100% + 30px);
    background: #fff;
}