.ResultViewerAccordionHeader {
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
  width: 100%;

  [dir='rtl'] & {
    /* [show more/less] ...query string [chevron] */
    flex-direction: row-reverse;
  }

  &.truncate {
    --truncate-to: 100%; /* will be overridden by JS */
    max-width: var(--truncate-to);

    & span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  & button {
    align-self: start; /* anchor vertically to top of header */
  }
}
