@import "@folio/stripes-components/lib/variables.css";

.repeatable {
    margin: 0;
}

.row {
    background-color: var(--color-fill-table-row-odd);
    line-height: var(--line-height);
    margin: 0;
    box-sizing: border-box;
    justify-content: flex-end;
    border-bottom: 1px solid var(--color-border-p2);
}

.row.even {
    background-color: var(--color-fill-table-row-even);
}

.rowCell {
    box-sizing: border-box;
    padding: 10px 10px 0;
}

.rowCell:last-child {
    margin-left: auto;
    text-align: center;
}

.rowCell:not(:first-child) {
    border-left: 1px solid var(--color-border-p2);
}

.control {
    background-color: var(--bg);
}

.queryArea {
    width: 100%;
    min-height: var(--control-min-size-desktop);
    max-height: calc(var(--control-min-size-desktop) * 10);
    padding: 0 5px;
    margin: 5px 0 10px;
    background-color: #ebebe4;
    color: #777;
    border: 1px solid var(--color-border);
    box-shadow: none;
    resize: vertical;
    overflow-y: auto;
}
